<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card p-3 m-5">
            <div class="card-body">
              <% if (typeof user != 'undefined' && user.rol == "admin") { %>
                <div class="d-flex justify-content-end">
                  <form action="/series/delete/<%= serie.id %>?_method=delete" method="POST" >
                  <button class="btn-sm btn-danger m-1"><i class="fas fa-trash-alt"></i></button>
                  </form>
                  <form action="/series/edit/<%= serie.id %>" >
                    <button class="btn-sm btn-success m-1"><i class="fas fa-edit"></i></button>
                  </form>
                </div>
              <% } %>
              <h5 class="card-title"><%= serie.title %> </h5>
              <% if (genero) { %>
                <p><%= genero.name.toUpperCase() %></p>
              <% } %>
             
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Estreno: <%= serie.release_date %> </li>
                <li class="list-group-item">Finalización: <%= serie.end_date %> </li>

              </ul>
    
             
            </div>
          </div>
        </div>
        </div>
      </div>
    
  <%- include('partials/footer') %> 
</body>
</html>
